#wrapper {
    width: 500px;
    overflow: hidden; /* will contain if #first is longer than #second */
}
#list-div {
    width: 300px;
    float:left; /* add this */
}
#view-div {
    overflow: hidden; /* if you don't want #second to wrap below #first */
}